<div class="card text-left" style="width: 30rem;">
    <div class="card-body">
      <h4 class="card-title">PAGO</h4>
      <form [formGroup]="formPaymentCard" (ngSubmit)="emitSavedCard()" autocomplete="off">
          <span class="valuePayment">{{planValue | currency:'COP '}}</span>
  
        <p class="text-right">{{cardType | uppercase}}</p>
        <div class="form-group">
          <label class="label-card" for="">NÚMERO DE TARJETA</label>
          <div class="input-group mb-3">
  
            <input type="text" (keyup)="getCardType($event.target.value)" formControlName="cardNumber" name="cardNumber"
              id="" class="form-control" placeholder="0000-0000-0000-0000" aria-describedby="helpId">
            <div class="input-group-append">
              <!--fa-icon [icon]="'credit-card'"></fa-icon -->
            </div>
          </div>
          <div
            *ngIf="formPaymentCard.get('cardNumber').invalid && (formPaymentCard.get('cardNumber').dirty || formPaymentCard.get('cardNumber').touched)">
            <small class="form-text text-danger" *ngIf="formPaymentCard.get('cardNumber').errors.required">
              Este campo es requerido
            </small>
            <small class="form-text text-danger" *ngIf="formPaymentCard.get('cardNumber').errors.maxlength">
              Este campo debe tener máximo 19 caracteres
            </small>
            <small class="form-text text-danger" *ngIf="formPaymentCard.get('cardNumber').errors.minlength">
              Este campo debe tener mínimo 12 caracteres
            </small>
            <small class="form-text text-danger" *ngIf="formPaymentCard.get('cardNumber').hasError('numbersOnly')">
              Este campo debe contener sólo números
            </small>
            <small class="form-text text-danger" *ngIf="formPaymentCard.get('cardNumber').hasError('checksum')">
              Número de tarjeta incorrecto
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="label-card" for="">NOMBRE DEL TITULAR DE LA TARJETA</label>
          <div class="input-group mb-3">
  
            <input type="text" formControlName="cardHolder" name="cardHolder" id="" class="form-control" placeholder=""
              aria-describedby="helpId">
            <div class="input-group-append">
              <!--fa-icon [icon]="'credit-card'"></fa-icon -->
            </div>
          </div>
          <div
            *ngIf="formPaymentCard.get('cardHolder').invalid && (formPaymentCard.get('cardHolder').dirty || formPaymentCard.get('cardHolder').touched)">
            <small class="form-text text-danger" *ngIf="formPaymentCard.get('cardHolder').errors.required">
              Este campo es requerido
            </small>
            <small class="form-text text-danger" *ngIf="formPaymentCard.get('cardHolder').errors.maxlength">
              Este campo debe tener máximo 22 caracteres
            </small>
  
          </div>
        </div>
        <div class="form-group">
          <label class="label-card" for="">DOCUMENTO DEL TITULAR DE LA TARJETA</label>
          <div class="input-group mb-3">
  
            <input type="text" formControlName="documentNumberPayer" name="documentNumberPayer" id="" class="form-control"
              placeholder="" aria-describedby="helpId">
            <div class="input-group-append">
              <!--fa-icon [icon]="'credit-card'"></fa-icon -->
            </div>
          </div>
          <div
            *ngIf="formPaymentCard.get('documentNumberPayer').invalid && (formPaymentCard.get('documentNumberPayer').dirty || formPaymentCard.get('documentNumberPayer').touched)">
            <small class="form-text text-danger" *ngIf="formPaymentCard.get('documentNumberPayer').errors.required">
              Este campo es requerido
            </small>
            <small class="form-text text-danger" *ngIf="formPaymentCard.get('documentNumberPayer').errors.maxlength">
              Este campo debe tener máximo 12 caracteres
            </small>
            <small class="form-text text-danger"
              *ngIf="formPaymentCard.get('documentNumberPayer').hasError('numbersOnly')">
              Este campo debe contener sólo números
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <label class="label-card duedate">FECHA DE VENCIMIENTO</label>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label class="label-card" for="expirationMonth">MES</label>
              <select name="expirationMonth" id="expirationMonth" formControlName="expirationMonth" class="form-control">
                <option [value]="item" *ngFor="let item of months">{{item}}</option>
              </select>
            </div>
  
          </div>
          
          <div class="col-lg-3">
         
            <div class="form-group">
              <label class="label-card" for="year">AÑO</label>
               <select name="expirationYear" id="year" formControlName="expirationYear" class="form-control">
                <option [value]="item" *ngFor="let item of years">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 offset-md-3">
            <div class="form-group">
              <label class="label-card" for="ccv">CVV</label>
              <input type="text" formControlName="ccv" name="" id="ccv" class="form-control" placeholder=""
                aria-describedby="helpId">
            </div>
          </div>
  
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
                <div class="form-check">
                <input class="form-check-input" value="on"  type="checkbox" name="exampleCheckbox" id="exampleCheckbox2"  (change)="onChangeCheckbox()">
                <label class="form-check-label label-card" for="exampleCheckbox2">
                  Pagos débito automático
                </label>
              </div>
            </div>
          </div>
      
        </div>
        <div class="row">
            <div class="col">
                
                <div *ngIf="!typePayment">
                    <div class="form-group">
                        <label class="label-card" for="planIntervalCount">Cantidad de pagos débito automático mensual</label>
                        <select type="text" formControlName="planIntervalCount" name="" id="planIntervalCount" class="form-control" placeholder=""
                          aria-describedby="helpId">
                          <option [value]="item" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">{{item}} <span *ngIf="item==1; else meses" >Mes</span> <ng-template #meses>Meses</ng-template> </option>
                        </select>
                    </div>
  
                </div>
                <div>
                  <div class="form-group">
                      <label class="label-card" for="installmentsNumber">Número de cuotas tarjeta crédito</label>
                      <select type="text" formControlName="installmentsNumber" name="" id="installmentsNumber" class="form-control" placeholder=""
                        aria-describedby="helpId">
                        <option [value]="item" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,12,24,36]">{{item}}</option>
                      </select>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div
              *ngIf="formPaymentCard.get('expirationMonth').invalid && ( formPaymentCard.get('expirationMonth').dirty ||  formPaymentCard.get('expirationMonth').touched)">
              <small class="form-text text-danger" *ngIf="formPaymentCard.get('expirationMonth').errors.required">
                El campo MES es requerido
              </small>
            </div>
            <div
              *ngIf="formPaymentCard.get('expirationYear').invalid && ( formPaymentCard.get('expirationYear').dirty ||  formPaymentCard.get('expirationYear').touched)">
              <small class="form-text text-danger" *ngIf="formPaymentCard.get('expirationYear').errors.required">
                El campo AÑO es requerido
              </small>
            </div>
            <div
              *ngIf="formPaymentCard.get('expirationMonth').touched && formPaymentCard.get('expirationYear').touched && formPaymentCard.hasError('expiration')">
              <small class="form-text text-danger">
                La tarjeta se encuentra vencida
              </small>
            </div>
            <div
              *ngIf="formPaymentCard.get('ccv').invalid && (formPaymentCard.get('ccv').dirty || formPaymentCard.get('ccv').touched)">
              <small class="form-text text-danger" *ngIf="formPaymentCard.get('ccv').errors.required">
                El campo CVV es requerido
              </small>
              <small class="form-text text-danger" *ngIf="formPaymentCard.get('ccv').errors.maxlength">
                El campo CVV debe tener máximo 4 caracteres
              </small>
              <small class="form-text text-danger" *ngIf="formPaymentCard.get('ccv').errors.minlength">
                El campo CVV debe tener mínimo 3 caracteres
              </small>
              <small class="form-text text-danger" *ngIf="formPaymentCard.get('ccv').errors.numbersOnly">
                El campo CVV debe contener sólo números
              </small>
  
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block" [disabled]="!formPaymentCard.valid">Pagar</button>
      </form>
  
  
    </div><!-- End card body -->
  </div>