.pay-date-expiry {
    padding-left: 0px;
    }
.card-payment-title {
    text-align: center
    }    
.label-card {
    color: #5a5953 !important;
    font-family: 'Inconsolata', Serif, serif;
    font-size: 16px;
    text-align: center;
    }    
.valuePayment {
    font-size: 20px;
    color:  #5a5953;
    }